<section id="about">
  <div class="container">
    <h2>About Me</h2>
    <p>
      I am currently in 7th semester of computer engineering at Politécnico JIC,
      I start learning by myself software development (specifically application
      development) since March 2020 when the pandemic hit my city. I am
      passionate about clean code, the cloud and having a good development
      lifecycle when I am building my ideas. Since I was a child I always wanted
      to build things that make people’s lives easier and generate value for the
      world.
    </p>
    <div class="info">
      <div class="personal-info">
        <h3>Personal Details</h3>
        <app-personal-detail
          label="name"
          content="Daniel Ramirez"
        ></app-personal-detail>
        <app-personal-detail label="age" content="22"></app-personal-detail>
        <app-personal-detail
          label="location"
          content="Colombia, La Estrella"
        ></app-personal-detail>
        <app-personal-detail
          label="email"
          content="danielrg0322@gmail.com"
        ></app-personal-detail>
        <app-personal-detail
          label="experience"
          content="None"
        ></app-personal-detail>
      </div>
      <div class="technologies">test</div>
    </div>
    <app-primary-button href="assets/test.pdf" [isDownload]="true" filename="CV"
      >Download CV</app-primary-button
    >
  </div>
</section>
