#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 6rem;
}

.profile-picture {
  height: 200px;
}

.title {
  font-size: 2.5em;
  font-family: "Yellowtail";
  margin: 0.3em 0 0 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #707070;
}

.icons {
  margin-bottom: 1.5em;
}

.icons img {
  margin-right: 1em;
}

.center-button {
  text-align: center;
}

@media (min-width: 1000px) {
  #hero {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .profile-picture {
    height: 350px;
  }

  .title {
    font-size: 3.5em;
  }

  .hero-info {
    max-width: 40%;
  }

  .hero-info > p {
    font-size: 1.3em;
  }

  .icons img {
    height: 40px;
  }

  .icons {
    margin-bottom: 2em;
  }
}

@media (min-height: 800px) {
  .hero-info {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-info > p {
    font-size: 1.5em;
  }
}

@media (min-width: 1400px) {
  .profile-picture {
    height: 400px;
  }

  .title {
    font-size: 4em;
  }

  .icons img {
    height: 50px;
  }

  .hero-info > p {
    font-size: 1.5em;
  }
}
