<div id="hero" class="container">
  <img
    src="assets/images/me.svg"
    alt="profile picture"
    class="profile-picture"
  />
  <h1 class="title">I turn your ideas into functional software</h1>
  <p>
    Hello, I’m Daniel Ramirez, a computer engineer student & software developer
  </p>
  <div class="icons">
    <a href="https://www.facebook.com/ditu4" target="_blank"
      ><img src="assets/icons/facebook.svg" alt="facebook icon"
    /></a>
    <a href="https://twitter.com/danielr0322" target="_blank"
      ><img src="assets/icons/twitter.svg" alt="twitter icon"
    /></a>
    <a href="https://github.com/ditu474" target="_blank"
      ><img src="assets/icons/github.svg" alt="github icon"
    /></a>
  </div>
  <button class="primary-button">Know me better</button>
</div>
