a {
  border: none;
  background-color: #00c7f7;
  border: 1px solid #00c7f7;
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-decoration: none;
}

a:hover {
  color: #00c7f7;
  background-color: white;
  cursor: pointer;
}

@media (min-width: 1000px) {
  a {
    font-size: 1.3em;
  }
}

@media (min-width: 1400px) {
  a {
    font-size: 1.5em;
  }
}
