<div id="toolbar">
  <div class="navbar">
    <div class="container menu">
      <a href="#hero" class="logo"
        ><img src="assets/icons/logo.svg" alt="logo"
      /></a>
      <div class="spacer"></div>
      <a href="#contact" class="primary-nav-el">Contact Me</a>
      <img
        src="assets/icons/menu.svg"
        alt="menu"
        class="mobile-menu-icon"
        (click)="mobileMenuHandler()"
      />
    </div>
  </div>
  <div class="mobile-menu" *ngIf="showMobileMenu">
    <ul (click)="mobileMenuHandler()">
      <li class="mobile-menu-item"><a href="#hero">Home</a></li>
      <li class="mobile-menu-item"><a href="#about">About</a></li>
      <li class="mobile-menu-item"><a href="#projects">Projects</a></li>
    </ul>
  </div>
</div>
